<a href="https://colab.research.google.com/github/FathimaNazarudeen/python/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python script to read two numbers add them and print the result

In [13]:
a= int(input("Enter number "))
b=int(input("Enter number "))
output= a + b
print(a, "+", b,"=",output)

Enter number 2
Enter number 3
2 + 3 = 5

Assume the numbers to be 2.4 and 3.5. Print the out put as given below Sum of 2.4 and 3.5 is 5.9

In [3]:
a=2.4
b=3.5
output= a + b
print(a, "+", b,"=",output)

2.4 + 3.5 = 5.9

Write a python script to find maximum of two number

In [4]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if(a > b):
  print(a, "is greater")
elif(a < b):
    print(b, "is greater")
else:
    print("Both are equal")

Enter the first number: 5
Enter the second number: 8
8 is greater

Write a python script to find maximum of three numbers

In [5]:
def maximum(a, b, c):
  
 if (a >= b) and (a >= c):
        largest = a
  
 elif (b >= a) and (b >= c):
        largest = b
 else:
        largest = c
          
 return largest 
a = 22
b = 15
c = 2
print(maximum(a, b, c))

22

Write a python script to find maximum of ten numbers

In [6]:
a = [15, 22, 17, 8, 2, 63, 48, 53, 72]
a.sort()
print("Largest element is:", a[-1])

Largest element is: 72

Write a python Program for Sum of squares of first n natural numbers

In [8]:
def squaresum(n) :
 sum = 0
 for i in range(1, n+1) :
        sum = sum + (i * i)
 return sum
n = 7
print(squaresum(n))

140

Write a python program to generate the following multiplication table 1 5 2 10 …….. 10 50

In [11]:
a = int(input ("Enter number "))            
print ("The Multiplication Table of: ", a)    
for count in range(1, 11):      
   print (a, 'x', count, '=', a * count)

Enter number 6
The Multiplication Table of:  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60